<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ischoolbar.programmer.dao.admin.AssetDao">
	<resultMap type="com.ischoolbar.programmer.entity.admin.AssetVO"
		id="AssetAndDor">
		<id column="assetid" property="assetid" jdbcType="INTEGER" />
		<result column="bedchamberid" property="bedchamberid" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="DATE" />
		<result column="categoryid" property="categoryid" jdbcType="INTEGER" />
		<result column="repairstatus" property="repairstatus" jdbcType="INTEGER" />
		<result column="scraptime" property="scraptime" jdbcType="DATE" />
		<result column="scrapto" property="scrapto" jdbcType="VARCHAR" />
		<result column="scrapreason" property="scrapreason" jdbcType="VARCHAR" />
		<result column="registrationstatus" property="registrationstatus"
			jdbcType="INTEGER" />
		<result column="assetname" property="assetname" jdbcType="VARCHAR" />
		<result column="uses" property="uses" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="REAL" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findALL" parameterType="Map"
		resultType="com.ischoolbar.programmer.entity.admin.Asset">
		select * from asset
		<where>
			<if test="bedchamberid!=null">
				and bedchamberid =#{bedchamberid}
			</if>
			<if test="true">
			   and  registrationstatus <![CDATA[ >= ]]> 0
			</if>
		</where>
	</select>
	<!-- 查询功能 -->
	<select id="findList" parameterType="Map" resultMap="AssetAndDor">
		<!-- select * from asset left join dormitory on asset.bedchamberid = dormitory.dormitoryId -->
		select * from asset left join dormitory on asset.bedchamberid =
		dormitory.dormitoryId left join student on asset.uses = student.id
		<where>
		  <if test="bedchamberid!=null">
				and bedchamberid =#{bedchamberid}
			</if>
			 <if test="uses!=null">
			     and ( uses =#{uses} or uses = "" 
			 </if>
			 <if test="registrationstatus!=null">
			   and asset.registrationstatus <![CDATA[ >= ]]> 0)
			 </if>
		</where>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 获取符合结果的总记录数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from asset where 1 = 1
		<if test="username != null">
			and assetname like '%${assetname}%'
		</if>
	</select>
	<update id="edit" parameterType="com.ischoolbar.programmer.entity.admin.Asset">
		update asset
		<set>
			<if test="bedchamberid != null">
				bedchamberid = #{bedchamberid,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=DATE},
			</if>
			<if test="categoryid != null">
				categoryid = #{categoryid,jdbcType=INTEGER},
			</if>
			<if test="repairstatus != null">
				repairstatus = #{repairstatus,jdbcType=INTEGER},
			</if>
			<if test="scraptime != null">
				scraptime = #{scraptime,jdbcType=DATE},
			</if>
			<if test="scrapto != null">
				scrapto = #{scrapto,jdbcType=VARCHAR},
			</if>
			<if test="scrapreason != null">
				scrapreason = #{scrapreason,jdbcType=VARCHAR},
			</if>
			<if test="registrationstatus != null">
				registrationstatus = #{registrationstatus,jdbcType=INTEGER},
			</if>
			<if test="assetname != null">
				assetname = #{assetname,jdbcType=VARCHAR},
			</if>
			<if test="uses != null">
				uses = #{uses,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				price = #{price,jdbcType=REAL},
			</if>
		</set>
		where assetid = #{assetid}
	</update>
	<insert id="insertSelective" parameterType="com.ischoolbar.programmer.entity.admin.Asset">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Fri Dec 20 
			22:47:12 CST 2019. -->
		insert into asset
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="assetid != null">
				assetid,
			</if>
			<if test="bedchamberid != null">
				bedchamberid,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="categoryid != null">
				categoryid,
			</if>
			<if test="repairstatus != null">
				repairstatus,
			</if>
			<if test="scraptime != null">
				scraptime,
			</if>
			<if test="scrapto != null">
				scrapto,
			</if>
			<if test="scrapreason != null">
				scrapreason,
			</if>
			<if test="registrationstatus != null">
				registrationstatus,
			</if>
			<if test="assetname != null">
				assetname,
			</if>
			<if test="uses != null">
				uses,
			</if>
			<if test="price != null">
				price,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="assetid != null">
				#{assetid,jdbcType=INTEGER},
			</if>
			<if test="bedchamberid != null">
				#{bedchamberid,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=DATE},
			</if>
			<if test="categoryid != null">
				#{categoryid,jdbcType=INTEGER},
			</if>
			<if test="repairstatus != null">
				#{repairstatus,jdbcType=INTEGER},
			</if>
			<if test="scraptime != null">
				#{scraptime,jdbcType=DATE},
			</if>
			<if test="scrapto != null">
				#{scrapto,jdbcType=VARCHAR},
			</if>
			<if test="scrapreason != null">
				#{scrapreason,jdbcType=VARCHAR},
			</if>
			<if test="registrationstatus != null">
				#{registrationstatus,jdbcType=INTEGER},
			</if>
			<if test="assetname != null">
				#{assetname,jdbcType=VARCHAR},
			</if>
			<if test="uses != null">
				#{uses,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=REAL},
			</if>
		</trim>
	</insert>

	<delete id="delete" parameterType="String">
		delete from asset where
		assetid
		in (${value})
	</delete>
	
	
	
	
</mapper>